<footer class="bg-red-800 text-white py-10" id="contact">
    <div class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center">
      <div>
        <h4 class="text-lg font-bold mb-3">Contact</h4>
        <p>Phone: 70363969</p>
        <p>Facebook: Home Kitchen</p>
        <p>Instagram: home_kitchen_llc</p>
        <p>Email: ceo@homekitchen.mn</p>
      </div>
      <div class="mt-4 md:mt-0 text-4xl font-bold">Home <aa style="color:black">Kitchen</aa>
        <p style="font-size: small;">@2015 home kitchen llc</p>
    </div>
    </div>
  </footer>