<header class="bg-white shadow sticky top-0 z-10">
    <div class="container mx-auto px-6 py-5 flex items-center justify-between">
      <div class="text-xl font-bold text-red-700">HOME <span class="text-gray-700">KITCHEN</span></div>
      <nav class="space-x-10 text-sm">
        <a href="#" class="bg-red-700 text-white px-5 py-3 rounded-full">Нүүр</a>
        <a href="#about" class="hover:underline">Бидний Тухай</a>
        <a href="#catalogy" class="hover:underline">Каталог</a>
        <a href="#resource" class="hover:underline">Хүний Нөөц</a>
        <a href="#contact" class="bg-red-700 text-white px-5 py-3 rounded-md">Холбоо барих</a>
      </nav>
    </div>
  </header>